<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <system.serviceModel>
    <bindings>      
      
    </bindings>
    <client> 

      
    </client>
    
  </system.serviceModel>
  <system.net>    
    <defaultProxy>      
      <proxy bypassonlocal="True" usesystemdefault="False" />
    </defaultProxy>
  </system.net> 
  
  <appSettings>
    <add key="smcuit" value="30578411174"/><!--CUIT de Alberdi-->
    <add key="smusuario" value="Comodin"/><!--Nombre de Usuario otorgado por SOS Movil-->
    <add key="smclave" value="SOSCom015"/><!--Contraseña otorgado por SOS Movil-->

    <add key="smdefcodarea" value="388"/><!--Codigo de area por defecto, depende de la sucursal-->
    <add key="smdefpais" value="54"/>
    <add key="smcodmaterial" value="10584"/><!--Codigo de Material que se usara para las acreditaciones de vuelto-->
    <add key="smminvuelto" value="0.05"/><!--Valor minimo de vuelto para acreditar-->
    <add key="smmaxvuelto" value="10.00"/><!--valor maximo de vuelto para acreditar-->
    <add key="smvoucher" value="42"/><!--Numero de Voucher que se imprime para activar-->
    <add key="smtimeout" value="10"/><!--Timeout en segundos que esperara para obtener respuesta del WebSerice de SOS Movil-->

    <add key="tipresuc" value="99"/>    <!--Nro de sucursal-->
    <add key="tiprenropos" value="998"/>    <!--Numero de POS, numero de caja -->
    <add key="tipreipsrv" value="200.61.210.82"/>    <!--Numero de IP del Servidor de Autorizaciones de Tipre-->
    <add key="tiprepuerto" value="28443"/>    <!--Numero de Puerto para el WebService Seguro de Tipre-->
    <add key="tiprenrovoucher" value="30"/>    <!--Indica el numero de voucher que se utiliza, ver archivo "mensajes.ini" son 4 vouchers consecutivos, 2 para compra y 2 para anulacion-->
    <add key="tipretimeout" value="60"/>    <!--Timeout en segundos que esperara para obtener respuesta del WebService TIPRE-->
    <add key="tipreseguro" value="si"/>    <!--Indica si utiliza el Web Sevice Seguro-->
    <add key="tiprecanttarj" value="1"/>    <!--Cantidad maxima de tarjetas que permite cargar para autorizar-->
    <add key="tiprecashback" value="si"/>    <!--Para que comience a operar con Visa extracash-->

    <add key="tipretimeoutdife" value="90"/>    <!--Timeout en segundos que esperara entre Identificacion y Autorizacion-->


    <add key="pinpadipsrv" value="127.0.0.1"/>   <!--Numero de IP del Servidor de Autorizaciones de Tipre-->
    <add key="pinpadpuerto" value="50001"/> <!--Numero de Puerto para el WebService Seguro de Tipre-->

    
    <add key="ipgatwaymp" value="192.168.0.102"/>
    <add key="portgatwaymp" value="9082"/>

    <add key="ipgatwayjanis" value="192.168.0.13"/>
    <add key="portgatwayjanis" value="9083"/>
    
    <add key="NomComercioPrisma" value="PRISMA MP" />
    <add key="CuitComercioPrisma" value="00-00000000-0"/>

    <add key="ipsmartpointmp" value="192.168.0.13"/>
    <add key="portsmartpointmp" value="5024"/>
    
    <add key="ipapiventas" value="192.168.0.13"/>
    <add key="portapiventas" value="5023"/>

    <add key="ipapiparking" value="louisa-solutus-imbalancedly.ngrok-free.dev"/>
    <add key="portapiparking" value="80"/>

    <add key="ipapiprismaecr" value="192.168.0.236"/>
    <add key="portapiprismaecr" value="6040"/>
  </appSettings>
  <connectionStrings>
    <add name="dbsuper" connectionString="Data Source=192.168.0.64\sqlexpress;Initial Catalog=dbsuper;User ID=sa;Password=enegeese;persist security info=False;"/>
    <add name="dbPrismatrans" connectionString="Data Source=dbverifone.db;Version=3"/>    
  </connectionStrings>
</configuration>
